# Directories #
log/
/build/
/bin/
target/
test-output/
screenshots/
/src/main/resources/selenium_standalone_binaries
/src/main/resources/selenium_standalone_zips
null/
/src/main/resources/documentation/
# Package Files #
*.war
*.ear
*.db
*.exe
!geckodriver #Except
!chromedriver.exe #Except

######################
# Windows
######################
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini
# Excel Files
~$*
######################
# OSX
######################
.DS_Store
.svn
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes
######################
# Eclipse
######################
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/
# Locally stored "Eclipse launch configurations"
*.launch
# CDT-specific
.cproject
# PDT-specific
.buildpath
*.log
######################
# Idea
######################
*.idea
*.iml
*.eml
.png
*.html
